<div class="subheading">
  <p class="about"> Almost 1,000 years ago, the Bayeux tapestry was created. This app is an attempt to create a new Global Tapestry. If you want to be part of it, just <span class="special_annotation">search</span> for a spot to call your own, <span class="special_annotation">click it</span>, and <span class="special_annotation">claim it</span>... (...a little Tweet wouldn't hurt either :p) <a href="https://twitter.com/intent/tweet?button_hashtag=GlobalCollage&text=I'm%20on%20the%20global%20collage%20-%20get%20involved!" class="twitter-hashtag-button" data-lang="en" data-size="large" data-count="horizontal" data-related="jordanpoulton">Tweet #GlobalCollage</a></p>



</div>

<div class="container">
  <div class="row">
    <div class = "span2"> This is some content</div>
    <div class="span8"><div id="map-canvas"></div>
  </div>
</div>

