// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.subheading{
  background-color: #f2f2e9;
}


.about{
  margin: 40px 20px 0px 20px;
  font-family: 'poiret one', helvetica;
  font-size: 2em;
  line-height: 2em;
  background-color: #f2f2e9;
}

.special_annotation {
  font-size: 2em;
}
